<div class="page-container">
	<article class="page-home">
		<section class="page--welcome">
			<div class="wrapper">
				<div class="headline-text title">
					<ul class="headline-greeting-list">
						<li class="headline-greeting-item"><span style="color: #6699cc;">print</span><span style="color: #cdd3de;">(</span><span style="color: #49b3b3;">'</span><span style="color: #85c776;">Hello!</span><span style="color: #49b3b3;">'</span><span style="color: #cdd3de;">)</span></li>
						<li class="headline-greeting-item"><span style="color: #8680b9;"><span class="headline-greeting">Hello</span> my name is Radu.</span></li>
						<li class="headline-greeting-item"><span style="color: #cf8c5e;"><span class="headline-greeting">Bonjour</span> I'm a web developer.</span></li>
						<li class="headline-greeting-item"><span style="color: #92c474;"><span class="headline-greeting">Hola</span> I'm an amateur photographer.</span></li>
						<li class="headline-greeting-item"><span style="color: #b13b8e;"><span class="headline-greeting">Ciao</span> I'm a world traveler.</span></li>
						<li class="headline-greeting-item"><span style="color: #20a8a2;"><span class="headline-greeting">Salut</span> welcome to my website.</span></li>
					</ul>
				</div>
			</div>
		</section>
		<section class="page--travel">

		</section>
	</article>
</div>
